<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Here is information about my dog</h1>
    <p>Name: {{ name }}</p>
    <p>Size: {{ size }}</p>
    <p>Age: {{ age }}</p>
    <p>Hair Color: {{ hair_color }}</p> -->
    
    <h1>All the Dogs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Size</th>
                <th>Age</th>
                <th>Hair Color</th>
                <th>Created At</th>
                <th>Updated At</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            {% for dog in dogs %}
                <tr>
                    <td>{{ dog.id }}</td>
                    <td><a href="/dogs/{{ dog.id }}">{{ dog.name }}</a></td>
                    <td>{{ dog.size }}</td>
                    <td>{{ dog.age }}</td>
                    <td>{{ dog.hair_color }}</td>
                    <td>{{ dog.created_at }}</td>
                    <td>{{ dog.updated_at }}</td>
                    <!-- <td><a href="/dogs/{{ dog.id }}">View</a></td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Make a Dog</h1>
    <form action="/dogs/new" method="post">
        {% csrf_token %}
        <p>
            Name:
            <input type="text" name="name" id="">
        </p>
        <p>
            Size:
            <input type="text" name="size" id="">
        </p>
        <p>
            Age:
            <input type="number" name="age" id="">
        </p>
        <p>
            Hair Color:
            <input type="text" name="hair_color">
        </p>
        <button>Add a Dog!</button>
    </form>
    <a href="/toys">Make a Toy!</a>
</body>
</html>