<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Data Demo</title>
</head>
<body>
  <h1>Lets create a Dog!</h1>
  <form action="/process" method="post">
    <p>
      Name:
      <input type="text" name="name" id="">
    </p>
    <p>
      Age:
      <input type="number" name="age" id="">
    </p>
    <p>
      Hair Color:
      <input type="text" name="hair_color" id="">
    </p>
    <button>Submit</button>
  </form>
</body>
</html>