<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Dog!</h1>
    <form action="/dogs/{{ dog.id }}/update" method="post">
        {% csrf_token %}
        <p>
            Name:
            <input type="text" name="name" id="" value="{{ dog.name }}">
        </p>
        <p>
            Hair Length:
            <input type="text" name="hair_length" id="" value="{{ dog.hair_length }}">
        </p>
        <p>
            Hair Color:
            <input type="text" name="hair_color" id="" value="{{ dog.hair_color }}">
        </p>
        <button>Edit a Dog!</button>
    </form>
    <a href="/dogs">Go Back</a>
    {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li style="color: red;">{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>