<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the Dogs!</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Hair Length</th>
                <th>Hair Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dog in dogs %}
                <tr>
                    <td>{{ dog.id }}</td>
                    <td>{{ dog.name }}</td>
                    <td>{{ dog.hair_length }}</td>
                    <td>{{ dog.hair_color }}</td>
                    <td>
                        <a href="/dogs/{{ dog.id }}">View</a> | 
                        <a href="/dogs/{{ dog.id }}/delete">Delete Dog</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/dogs/new">Click here to Create a New Dog!</a>
</body>
</html>