<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Your dog's name is: {{ dog.name }}</h1>
  <p>Age: {{ dog.age }}</p>
  <p>Hair Color: {{ dog.hair_color }}</p>
  <h3>Collars:</h3>
  <ul>
    {% for collar in dog.collars %}
      {% if collar.color != None %}
      <li>{{ collar.color }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul>
    {% for toy in dog.toys %}
      {% if toy.name != None%}
        <li>{{ toy.name }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="/">Home</a>
</body>
</html>