form {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
}

input {
  width: 60px;
}

.container {
  width: 800px;
}

.gold-display {
  width: 150px;
  border: 1px solid black;
  padding-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.activities {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid black
}

.earned {
  color: green;
}

.lost {
  color: red;
}

.main {
  display: flex;
  justify-content: space-between;
}