<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="form">
      <h1>Add a Jedi</h1>
      <form action="/jedis/create" method="post">
        {% csrf_token %}
        <p>
          Name:
          <input type="text" name="name" id="">
        </p>
        <p>
          Light Saber Color:
          <input type="text" name="color" id="">
        </p>
        <p>
          Age:
          <input type="number" name="age" min="5">
        </p>
        <p>
          <label for="">Is Master:</label>
          <input type="checkbox" name="master" id="">
        </p>
        <button>Create Jedi</button>
      </form>
    </div>
    <div class="display">
      <h1>All Jedis</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Light Saber Color</th>
            <th>Age</th>
            <th>Is Master?</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for jedi in all_jedis %}
          <tr>
              <td>{{ jedi.id }}</td>
              <td>{{ jedi.name }}</td>
              <td>{{ jedi.light_saber_color }}</td>
              <td>{{ jedi.age }}</td>
              <td>{{ jedi.is_master }}</td>
              <td><a href="/jedis/{{ jedi.id }}">View</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>