<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Build a burger!</h1>
  <form action="/burgers/create" method="post">
    <input type="hidden" name="which_form" value="burger">
    <p>
      Buns:
      <input type="text" name="buns" id="">
    </p>
    <p>
      Patty:
      <input type="number" name="num_of_patties" id="">
    </p>
    <p>
      Type of Cheese:
      <input type="text" name="cheese" id="">
    </p>
    <button>Create Your Burger!</button>
  </form>
  <form action="/burgers/create" method="post">
    <input type="hidden" name="which_form" value="chicken">
    <p>
      Style of cooking:
      <input type="text" name="style" id="">
    </p>
    <button>Create you chicken burger</button>
  </form>
</body>
</html>