<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>You ordered a burger with:</h1>
  <!-- <ul>
    <li>{{ buns }} buns</li>
    <li>{{ patties }} patties</li>
    <li>{{ cheese }} cheese</li>
  </ul> -->

  <h2>Here is another way to access session on the template</h2>
  <p>{{ session['buns'] }}</p>
  <p>{{ session['patties'] }}</p>
  <p>{{ session['cheese'] }}</p>
  <p>{{ session['style'] }}</p>
</body>
</html>