<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h1>Hello {{ user.first_name }} {{ user.last_name }}</h1>
      <a href="/logout">Logout</a>
    </div>
    <div class="main">
      <h2>All of the Dogs</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Hair Color</th>
            <th>Owner</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for dog in dogs %}
          <tr>
            <td>{{ dog.name }}</td>
            <td>{{ dog.age }}</td>
            <td>{{ dog.hair_color }}</td>
            <td>{{ dog.owner.first_name }}</td>
            <td>
              <a href="/dogs/{{ dog.id }}">View</a>
              {% if user.id == dog.owner.id %} |
              <a href="/dogs/{{ dog.id }}/edit">Edit</a> |
              <a href="/dogs/{{ dog.id }}/delete">Delete</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="footer">
      <a href="/dogs/new">Create a new dog</a>
    </div>
  </body>
</html>
