<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h3>Find Friends by their Username</h3>
    <form onsubmit="event.preventDefault(); handleSubmit();">
      <p>
        Username:
        <input type="text" oninput="setUsername(this)">
        <button>Search</button>
      </p>
    </form>
    <div id="display"></div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>