<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Demo</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Hello, {{ user.first_name }}!</h1>
      <div>
        <a href="/ice_creams/new">Create</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="main">
      <h3>These are you ice creams:</h3>
      <table>
        <thead>
          <tr>
            <th>Flavor</th>
            <th>Topping</th>
            <th>Cone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ice_cream in user.ice_creams %}
            <tr>
              <td>{{ ice_cream.flavor }}</td>
              <td>{{ ice_cream.topping }}</td>
              <td>{{ ice_cream.cone }}</td>
              <td>
                <a href="/ice_creams/{{ ice_cream.id }}">View</a> | 
                <a href="/ice_creams/{{ ice_cream.id }}/edit">Edit</a> |
                <a href="/ice_creams/{{ ice_cream.id }}/delete">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>