<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Demo</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Hello {{ user.first_name }}, lets edit your Ice Cream!</h1>
      <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <form action="/ice_creams/{{ ice_cream.id }}/update" method="post">
      <p>
        Flavor:
        <input type="text" name="flavor" id="" value="{{ ice_cream.flavor }}">
      </p>
      <p>
        Cone Type:
        <input type="text" name="cone" id="" value="{{ ice_cream.cone }}">
      </p>
      <p>
        Sprinkles?
        <input type="checkbox" name="sprinkles" id="sprinkles" {% if ice_cream.sprinkles %}checked{% endif %}>
      </p>
      <button>Update</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: red;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>