<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">ß
  </head>
  <body>
    <div class="container">
      <div class="header">
        <p>Your Gold:</p>
        <p>{{ session['gold'] }}</p>
      </div>
      <div class="main">
        <form action="/process_money" method="post">
          <input type="hidden" name="which_form" value="farm">
          <h2>Farm</h2>
          <p>( earns 10-20 gold )</p>
          <button>Find Gold!</button>
        </form>
        <form action="/process_money" method="post">
          <input type="hidden" name="which_form" value="cave">
          <h2>Cave</h2>
          <p>( earns 5-10 gold )</p>
          <button>Find Gold!</button>
        </form>
        <form action="/process_money" method="post">
          <input type="hidden" name="which_form" value="house">
          <h2>House</h2>
          <p>( earns 2-5 gold )</p>
          <button>Find Gold!</button>
        </form>
        <form action="/process_money" method="post">
          <input type="hidden" name="which_form" value="casino">
          <h2>Casino</h2>
          <p>( earns/takes 0-50 gold )</p>
          <button>Find Gold!</button>
        </form>
      </div>
      <div class="footer">
        <p>Activities:</p>
        <div class="activities">
          {% for message in session['activities']|reverse %} 
            {{ message|safe }} 
          {% endfor %}
        </div>
        <a href="/reset">Reset the Game!</a>
      </div>
    </div>
  </body>
</html>
