<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    form {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h1>Hello there</h1>
  <h2>Enter a Dog:</h2>
  <form action="/success" method="post">
    {% csrf_token %}
    <p>
      Name:
      <input type="text" name="name" id="">
    </p>
    <p>
      Breed:
      <input type="text" name="breed" id="">
    </p>
    <p>
      Hair Color:
      <input type="text" name="hair_color" id="">
    </p>
    <button>Submit</button>
  </form>
</body>
</html>