<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>{{ product.price }}</p>
    <p>Cateogries:</p>
    <ul>
        {% for category in product.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <a href="/">Go Back</a>
    <form action="/products/{{ product.id }}/add_category" method="post">
        {% csrf_token %}
        <!-- <input type="hidden" name="product_id" value="{{ product.id }}"> -->
        <p>
            
            <select name="category_id" id="">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </p>
        <button>Submit</button>
    </form>
</body>
</html>